html {
  font-family: "Comic Sans MS", "Comic Sans", "Arial", "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Papyrus";
    color: purple;
}

ul {
    list-style-type: none;
    background-color: gray;
    margin: 0;
    padding: 0;

}

li {
    display: inline-block;
    margin: 0;
    padding: 16px;

}

li a {
    color: black;
    padding: 16px;

}

li a:hover {
    background-color: #AAA;

}

footer {
    background-color: #DDD;
    text-align: center;
    padding: 16px;
    color: #555

}